/* Main Reliantree CSS File */

@import "rt-tree.css";

body {
	background: SeaShell;
	font-family: Georgia, serif;
	font-size: 16px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}