/* Reliantree Leaf Nodes */

.rt-leaf {
	position: absolute;
	background: MintCream;
	border: 3px solid DarkTurquoise;
	border-radius: 10px;
	border-top-left-radius: 0px;
	width: 114px;
	font-size: 0.8em;
	overflow: hidden;
}
.rt-leaf-handle {
	position: absolute;
	width: 14px;
	height: 14px;
	left: -3px;
	top: -3px;
	background: url("../img/corner-handle.svg");
	background-size: 14px 14px;
	cursor: pointer;
}
.rt-leaf-title {
	background: SandyBrown;
	padding-left: 10px;
	padding-top: 2px;
	line-height: 14px;
	border: none;
	font: inherit;
	font-size: 1.25em;
	width: 100%;
	height: 19px;
	border-bottom: 2px solid #0099a2; /*DarkerTurquoise*/
}
.rt-leaf-description {
	width: 100%;
	height: 111px;
	overflow-y: hidden;
	resize: none;
	border: none;
	background: inherit;
	font: inherit;
	border-bottom: 2px solid #0099a2;
}
.rt-leaf-reliability-table {
	border-collapse: collapse;
	width: 100%;
	font: inherit;
}
.rt-leaf-reliability-table td {
	padding: 0px;
}
.rt-leaf-failure-rate {
	border: 0px;
	background: inherit;
	font: inherit;
	width: 100%;
	height: 19px;
	margin: 0px;
	padding-left: 2px;
	border-right: 2px solid #0099a2;
	-moz-appearance:textfield;
}
.rt-leaf-failure-rate::-webkit-outer-spin-button,
.rt-leaf-failure-rate::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.rt-leaf-reliability-fixed {
	height: 19px;
	width: 19px;
	margin: 0px;
	border-left: 2px solid #0099a2;
	font: inherit;
}
.rt-leaf-reliability-fixed::before {
	display: block;
	position: relative;
	width: 19px;
	height: 19px;
	background: MintCream;
	content: "";
}
.rt-leaf-reliability-fixed::after {
	display: block;
	position: relative;
	width: 19px;
	height: 19px;
	top: -19px;
	content: "F";
	font: inherit;
	font-weight: bold;
	line-height: 19px;
	text-align: center;
	background: #f4a460;
}
.rt-leaf-reliability-fixed:checked::after {
	background: #ee7811;
}
.rt-leaf-reliability-fixed:hover::after {
	background: #f8be8a;
}
.rt-leaf-reliability-fixed:checked:hover::after {
	background: #f29340;
}